*{ 
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --primary-color: #00005b;
    --secondary-color: #e6f3f8;
    --tertiary-color: #91bad6;
}

body{
    max-width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

i{
    color: var(--primary-color);
}

p{
    word-break: break-word;
}

input, textarea{
    border: none;    
}

input:focus, textarea:focus{
    outline: none;
}

.secondary{
    color: var(--secondary-color);
}

#content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;

}

#navbar{
    width: 100%;
    min-width: 200px;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 99;
}

.navbar-items{
    width: 100%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    z-index: 9999;
}

.nav-options{
    display: flex;
    gap: 30px;
    color: var(--secondary-color);
    margin-right: 2rem;
}

.nav-options--items{
    font-size: 1.6rem;
    cursor: pointer;
    transition: 2ms ease;
    border-bottom: 1px solid var(--primary-color);
}

.nav-options--items:hover{
    border-bottom-color: var(--secondary-color);
}

.hamburger{
    display: none;
    cursor: pointer;
    margin-right: 2rem;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--secondary-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

#main-content{
    max-width: 1480px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#sidebar{
    max-width: 5%;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}

#sections{
    width: 100%;
    max-width: 1480px;
    height: calc(100% - 12vh);
    padding: 2rem 7rem 2rem 11rem;
}

#socials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 0.5rem;
}

.social--items{
    transform: ease 1s;
}

.social--items:hover{
    transform: scale(1.2);
}

#hero{
    padding-top: 8rem;
    display: flex;
    height: 100%;  
    gap: 120px;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
}


.hero-text--title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hero-text--title h1{
    font-size: 2rem;
    font-weight: 100;
}

.hero-text--title span{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primary-color)
}

.hero-text--desc {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    line-height: 2rem;
}

.pitch{
    font-size: 24px;
    font-weight: 500;
}

.download {
    width: 100px;
    font-size: 1.1rem;
    background: none;
    color: var(--secondary-color);
    padding: 0.9rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 100ms ease;
    cursor: pointer;
}

.download > .show {
    display: inline;
}

.download > .hidden {
    display: none;
}

.download:hover > .show {
    display: none;
}

.download:hover > .hidden {
    display: inline;
    color: var(--primary-color);
}

.download:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.hero-photo{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 15px solid var(--tertiary-color);
}

#about{
    padding-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;  
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.about-photo{
    height: 450px;
    width: 400px;
    flex:1 ;
    display: flex;
    align-items: center;
    border-top: 4px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
    padding-top: 1rem;
    padding-left: 1rem;
    border-radius: 0 0 5% 0;
    object-fit: cover;
}

.about-title{
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color)
}

.about-desc{
    text-align: justify;
}

.quote{
    font-size: 1.5rem;
}

.quote-caption{
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: right;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.skills-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.skills{
    display: flex;
    margin-bottom: 4rem;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 30px);
    height: 400px;
    transition: 1ms ease;
    border-bottom: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
}

.title{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}

.skills--title{
    width: 101%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.skills--list{
    padding: 0rem 1rem;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--secondary-color);
}

.skills:hover{
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    animation: skillBorderAnimation ease 1s;
    -webkit-animation: skillBorderAnimation ease 1s;
}


.skill-icon{
    width: 135px;
    height: 40px;
}


#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container{
    margin-top: 1rem;
    width: 100%;
    height: 500px;
    justify-content: center;
    display: inline-flex;
    gap: 20px;
    justify-content: space-between;
}

.project{
    padding: 1rem;
    padding-bottom: 0rem;
    width: calc((95%-40px)/4);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 5%;
    background-color: var(--primary-color);
    transition: 300ms ease;
}

.project:hover {
    transform: translateY(-4%);
}


.project:hover .project--icon-tags, .project:hover .project--title, .project:hover .project--desc, .project:hover .github, .project:hover .external-site-icon  {
    color: var(--tertiary-color);
}


.project--icon-container {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 25px;
}   

.project--link{
    color: var(--secondary-color);
}

.project--link:hover{
    scale: (1.2);
}

.project--icon-text{
    width: 100%;
    height: 80%;
    margin: 1rem 0rem;
}

.project--icon-tags{
    width: 100%;
    float: left;
    height: 10%;
    color: var(--secondary-color);
    font-size: 0.75rem;
    font-weight: 100;
    word-spacing: 12px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.project--title{
    width: 100%;
    color: var(--secondary-color);
    margin: 1rem 0rem;
    text-align: center;
}

.project--desc{
    padding: 0rem 1rem;
    display: flex;
    margin: 2rem 0rem;
    color: var(--secondary-color);
    font-weight: 300;
    line-height: 1.5rem;
}

#contact{
    padding-top: 9rem;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}   

.contact-contents{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.contact-title{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}

.contact-items{
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}

.contact-item{
    display: flex;
    width: 70%;
    align-items: center;
    gap: 20px;
}

.contact-item > i{
    width: 30px !important;
    height: 30px !important;
}


.contact-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 2.5rem;
}

.contact-desc{
    font-size: 24px;
}

.contact-socials{
    display: none
}

.contact-form{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form--item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-form--item > input{
    height: 2rem;
    width: 60%;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);

}

.contact-form--item > input::placeholder, .contact-form--item > textarea::placeholder{
    font-weight: bold;
    color: var(--primary-color);
}

.contact-form--item > textarea{
    width: 80%;
    height: 100px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 1.2rem;
}

.submit-button{
    width: 80px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 968px) {
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-options{
        position: fixed;
        top: -100%;
        gap: 20px;
        padding: 20px 0px;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        align-items: center;
        transition: 0.3s;
    }

    .nav-options.active{
        top: 12vh;

    }

    .nav-option--items{
        margin: 16px 0;
    }

    #hero{
        padding-top: 6rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    #sidebar{
        display: none;
    }
    
    #sections{
        padding: 3rem 3rem 2rem 3rem;
    }

    .hero-text{
        align-items: center;
    }

    .hero-text--title{
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }

    .hero-text--title h1{
        font-size: 1.7rem;  
    }

    .hero-text--title span{
        font-size: 2.5rem;
    }
    
    .hero-photo{
        height: 220px;
        width: 220px;
    }

    .pitch{
        font-size: 20px;
        text-align: center;
        padding: 2rem;
    }

    .hero-text--desc {
        display: flex;
        align-items: center;
    }
    
    #about{
        display: flex;
        flex-direction: column;
    }

    .about-photo{
        margin-top: 2rem;
        height: 200px;
        width: 200px;
        border: 2px solid var(--primary-color);
        padding: 0.5rem;
        border-radius: 5px;
    }

    .about-text{
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .skills-wrapper{
        gap: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills{
        width: 100%;
        border-bottom: 4px solid var(--primary-color);
        padding-bottom: 1.5rem;
        margin: 1.5rem 0;
    }

    .skills--title{
        align-self: start;
    }

    .skill-title{
        width: 100%;
        padding-bottom: 4rem;
        border-bottom: 4px solid var(--primary-color);
    }
    .skills:nth-child(1){
        margin-top: 2rem;
    }

    .project-container{
        flex-direction: column;
    }

    .project-container{
        align-items: center;
        height: fit-content;
        gap: 30px;
    }

    .project{
        width: 90%;
        height: 70%;
    }

    .project:hover {
        transform: scale(1.1);
    }

    .project--desc{
        text-align: center;
    }

    #contact{
        height: fit-content;
    }

    .contact-contents{
        flex-direction: column;
        align-items: center;
    }

    .contact-text{
        width: 100%;
        text-align: justify;
    }

    .contact-items{
        height: fit-content;
        margin-top: 2rem;
        align-items: center;
        gap: 20px;
    }

    .contact-item{
        flex-direction: column;
    }

    .contact-form{
        margin-top: 2rem;
        width: 100%;
        align-items: center;

    }

    .contact-form--item > input{
        width: 100%;
        padding-bottom: 0.5rem;
    }

    .contact-form--item > input::placeholder{
        text-align: center;
    }

    .contact-socials{
        display: inherit
    }
}
   
